@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
    @apply bg-surface-500;
    @apply text-tertiary-700;
    @apply h-full overflow-hidden;
}

@layer components {
    .title-default {
        @apply text-tertiary-900 font-bold text-4xl;
    }

    .card-section {
        @apply p-6 border border-tertiary-300 rounded-xl;
    }
}
